<a
    style="float: right; margin: 0px 15px 0px 0px;"
    *ngIf="isLogged()"
    (click)="open()"
>
    <nz-badge *ngIf="(cardsList$|async)" [nzCount]="badgeCount" [nzOffset]="[10, 15]">
        <i nz-icon nzType="shopping-cart" style="font-size: 30px;"></i>
    </nz-badge>
</a>

<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" (nzOnClose)="close()">
    <nz-row>
        <button
            *ngIf="cardsList$|async as cardsList"
            nz-button
            nzType="primary"
            (click)="createOrder()"
            [disabled]="
                !(deliveryAdress$ | async)
            "
        >
            Go to Pay
        </button>
    </nz-row>
    <ng-container *ngIf="cardsList$ | async as cards">
        <app-cart-form
            *ngFor="let card of cards"
            [card]="card"
            [editable]="true"
            (onDeleteEvent)="onDeleteEvent($event)"
        ></app-cart-form>
    </ng-container>
    <div *ngIf="!(cardsList$|async)" class="emptyCart">
        <nz-empty [nzNotFoundContent]="'Es gibt keinen einzigen Artikel in Ihrem Warenkorb.'"></nz-empty>
    </div>
    
</nz-drawer>