<div nz-row [nzGutter]="8" *ngIf="cardsList$ | async as cards">
    <div
        nz-col
        [nzSpan]="4"
        *ngFor="let card of cards"
        [routerLink]="['/card', card._id]"
    >
        <nz-card
            style="height: 100%;"
            nzHoverable
            [nzCover]="coverTemplate"
            nzTitle="{{ card.name }}"
        >
            <p>{{ card.type }}</p>
            <p style="overflow: hidden; max-height: 100px;">
                {{ card.description }}
            </p>
            <p style="position: absolute; bottom: 0;">
                Quantity: {{ card.quantity }}
            </p>
        </nz-card>
        <ng-template #coverTemplate>
            <div
                style="
                    min-height: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                "
            >
                <app-manage-image
                    [imgType]="'normalImg'"
                    [id]="card.files[0]"
                ></app-manage-image>
            </div>
        </ng-template>
    </div>
</div>
