<div class="ui secondary big menu">
  <a class="item" routerLink="home" routerLinkActive="active">Home</a>
  <a class="item" routerLink="news" routerLinkActive="active">News</a>
  <a class="item" routerLink="#" routerLinkActive="active">Abstaction</a>
  <a class="item" routerLink="#" routerLinkActive="active">NewAbstactions</a>
  <a class="item" routerLink="#" routerLinkActive="active">HomeAbstaction</a>
  <a class="item" routerLink="#" routerLinkActive="active">AbstactionAbstaction</a>
  <div class="right menu">
    <a class="item">
      <i class="shopping cart icon"></i>Einkaufswagen
      <div class="ui label">5</div>
    </a>
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
