<ul nz-menu nzTheme="dark" nzMode="inline">
  <li nz-menu-item routerLink="home" routerLinkActive="active" nzMatchRouter>Home</li>
  <li nz-submenu nzTitle="Store" nzIcon="shopping-cart">
    <ul>
      <li nz-menu-item routerLink="news" routerLinkActive="active" nzMatchRouter>HOT</li>
      <li nz-menu-item routerLink="order" routerLinkActive="active" nzMatchRouter>Order List</li>
      <li nz-menu-item routerLink="cart" routerLinkActive="active" nzMatchRouter>Cart List</li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Profile" nzIcon="user">
    <ul>
      <li nz-menu-item>Login</li>
      <li nz-menu-item routerLink="register" routerLinkActive="active" nzMatchRouter>Registration</li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Administration" nzIcon="control">
    <ul>
      <li nz-menu-item routerLink="card-management" routerLinkActive="active" nzMatchRouter>Cards</li>
      <li nz-menu-item routerLink="order-management" routerLinkActive="active" nzMatchRouter>Orders</li>
      <li nz-menu-item routerLink="user-management" routerLinkActive="active" nzMatchRouter>Users</li>
      <li nz-menu-item routerLink="role-management" routerLinkActive="active" nzMatchRouter>Roles</li>
    </ul>
  </li>
</ul>