<form class="ui form" [formGroup]="cardForm" (ngSubmit)="submitForm()">
    <label>ID:</label>
    <input formControlName="_id" />
    <label>Title</label>
    <input formControlName="name" />

    <label>Description</label>
    <input formControlName="description" />

    <label>Type:</label>
    <input formControlName="type" />

    <label>Quantity:</label>
    <input formControlName="quantity" />

    <label>Images:</label><br />
    <app-files-upload (fileId)="downloadedFiles($event)"></app-files-upload>
    <label>Downloaded files:</label><br />
    <ul *ngIf="filesSet !== undefined">
        <li *ngFor="let file of filesSet">
            <app-manage-image
                [imgType]="'previewImg'"
                [id]="file"
            ></app-manage-image>
        </li>
    </ul>

    <button class="ui button green" type="submit">Save</button>
</form>
