.logo {
    height: 20px;
    margin: 5px;
    margin-left: 15px;
}

nz-header {
    padding: 0;
    min-height: 50px;
}

nz-content {
    margin: 16px 16px;
}

nz-layout {
    min-height: 100%;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

nz-footer {
    text-align: center;
}
