<nz-layout>
  <nz-sider nzCollapsible nzWidth="160px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="home" routerLinkActive="active" nzMatchRouter>Home</li>
      <li nz-submenu nzTitle="Store" nzIcon="shopping-cart">
        <ul>
          <li nz-menu-item routerLink="news" routerLinkActive="active" nzMatchRouter>HOT</li>
          <li nz-menu-item routerLink="order" routerLinkActive="active" nzMatchRouter>Order List</li>
          <li nz-menu-item routerLink="cart" routerLinkActive="active" nzMatchRouter>Cart List</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Profile" nzIcon="user">
        <ul>
          <li nz-menu-item>Login</li>
          <li nz-menu-item routerLink="register" routerLinkActive="active" nzMatchRouter>Registration</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Administration" nzIcon="control">
        <ul>
          <li nz-menu-item routerLink="admin" routerLinkActive="active" nzMatchRouter>Administration</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <app-shopping-cart *ngIf="profile$|async"></app-shopping-cart>
      <app-user-login style="margin-top: 10px; float: right;"></app-user-login>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Andy A ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
