<nz-collapse>
    <nz-collapse-panel [nzHeader]="headerTpl" [nzShowArrow]="false">
        <app-cart-form
            *ngFor="let card of order[1]"
            [editable]="false"
            [card]="card"
        ></app-cart-form>
        <ng-container *ngIf="admin === true">
            <button nz-button nzType="primary"
            style="background-color: goldenrod; border-color: goldenrod;"
            (click)="onDeliveryStatusChangeEvent('sendet', order[0]._id)"
            [disabled]="sent">Send</button>
            <button nz-button nzType="primary" 
            style="background-color: #52c41a; border-color: #52c41a;"
            (click)="onStatusChangeEvent('completed', order[0]._id)">Complete</button>
            <button nz-button nzType="danger"
            (click)="onStatusChangeEvent('canceled', order[0]._id)">Cancel</button>
            <button nz-button nzType="primary" (click)="onStatusChangeEvent('active', order[0]._id)" *ngIf="(order[0].status === 'canceled') || (order[0].status === 'completed') ">Reactivate</button>
            <div>
                User data:
                <div>
                    Name:  {{order[0].delivery_to}}
                </div>
                <div>
                    Address: {{order[0].delivery_address}}
                </div>
            </div>
        </ng-container>
    </nz-collapse-panel>
</nz-collapse>
<ng-template #headerTpl>
    <div nz-row>
        <div nz-col nzSpan="4">
            <div
                [ngSwitch]="order[0].delivery_status"
                *ngIf="order[0].status === 'active'"
            >
                <i
                    nz-icon
                    [nzType]="'check-circle'"
                    [nzTheme]="'twotone'"
                    [nzTwotoneColor]="''"
                    *ngSwitchCase="'bearbeitung'"
                ></i>
                <i
                    nz-icon
                    [nzType]="'check-circle'"
                    [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#D2C200'"
                    *ngSwitchCase="'sendet'"
                ></i>
                <i
                    nz-icon
                    [nzType]="'check-circle'"
                    [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#52c41a'"
                    *ngSwitchCase="'geliefert'"
                ></i>
            </div>
            <div *ngIf="order[0].status === 'completed'">
                <i
                    nz-icon
                    [nzType]="'check-circle'"
                    [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#52c41a'"
                ></i>
            </div>
            <div *ngIf="order[0].status === 'canceled'">
                <i
                    nz-icon
                    [nzType]="'check-circle'"
                    [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#ff0000'"
                ></i>
            </div>
        </div>
        <div nz-col nzSpan="6">
            <div nz-row>Order Nummer: {{ order[0]._id }}</div>
            <div nz-row>Date of Order: {{ order[0].order_date | date }}</div>
        </div>
        <div nz-col nzSpan="6">
            <div nz-row>Delivery Status: {{order[0].delivery_status}}</div>
            <div nz-row>Your Trackcode: <a>{{order[0].delivery_track}}</a></div>
        </div>
        <div nz-col nzSpan="6">
            <p>{{ order[0].sum | currency: "EUR" }}</p>
        </div>
        <div nz-col nzSpan="2">
            <a>
                <i nz-icon nzType="down-circle" nzTheme="outline"></i>
            </a>
        </div>
    </div>
</ng-template>
